/* Highlight active router link */
.router-link-active,
.router-link-exact-active,
.active-link {
  font-weight: bold;
  color: var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}

/* Improve select visibility */
select,
option {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 6px;
  padding: 6px 12px;
  outline: none;
}
body {
  background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
  background-size: 20px 20px;
}
:root {
  --bg-color: #f9fafb; /* app background */
  --text-color: #111827;
  --nav-bg: #ffffff; /* navbar */
  --sidebar-bg: #f1f5f9; /* sidebar */
  --accent-color: #6366f1;
  --accent-color-hover: #4338ca;
  --active-link-bg: #171f3c; /* Light bluish for active links in light mode */
  --border-color: #d1d5db;
  --card-bg: #f3f4f6;
}

[data-theme='dark'] {
  --bg-color: #1e1e2f;
  --text-color: #f1f5f9;
  --nav-bg: #2c2e3a;
  --sidebar-bg: #1f2937;
  --accent-color: #a78bfa;
  --accent-color-hover: #c084fc;
  --active-link-bg: #374151; /* Dark slate for active links in dark mode */
  --border-color: #374151;
  --card-bg: #2f3542;
}
